# CityBikes

Send a request to CityBikes for the city of your choice.

In [5]:
#import libraries
import requests
import os
import pandas as pd

# http://api.citybik.es/v2/    API bike website

In [6]:
# Create dictionary for headers
headers = {"Accept": "application/json"}
city_url = 'http://api.citybik.es/v2/networks/citi-bike-miami'

#Python GET request to citybikes API.
miami = requests.get(city_url, headers=headers)

#See if GET response is sucessful 
print(miami)

<Response [200]>

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [7]:
#Get the json 
miami_json = miami.json()

In [8]:
#Parse miami stations
miami_stations = miami_json["network"]["stations"]

#Go through each station and get latitude, longitude, bikes 
latitude= []
longitude= []
bikes = []
for station in miami_stations:
    latitude.append(station['latitude'])
    longitude.append(station['longitude'])
    bikes.append(station['free_bikes'])

Put your parsed results into a DataFrame.

In [9]:
miami_bikes_df = pd.DataFrame({
    'latitude': latitude,
    'longitude': longitude,
    'bikes': bikes
})

miami_bikes_df.head()

    latitude  longitude  bikes
0  25.729275 -80.241581      3
1  25.732522 -80.233244      3
2  25.751100 -80.202641      4
3  25.760082 -80.196217      2
4  25.761884 -80.193101      1

In [14]:
#save miami_bikes_df as a csv file

miami_bikes_df.to_csv('../data/miami_bikes.csv', index=False)