Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [2]:
#Import libraries 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [67]:
#import data: miami_bikes.csv to the notebook.
#Preview dataframes with df.head()

miami_bikes = pd.read_csv('../data/miami_bikes.csv')
miami_bikes.head()

foursquare_data = pd.read_csv('../data/foursquare_data.csv')
foursquare_data.head()

    latitude  longitude  bikes
0  25.729275 -80.241581      3
1  25.732522 -80.233244      3
2  25.751100 -80.202641      4
3  25.760082 -80.196217      2
4  25.761884 -80.193101      1

In [44]:
#Iterate through each bike station from miami_bikes.csv
Bike_Station_Coordinates = []
# Iterate through rows using iterrows()

for index, row in miami_bikes.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    Bike_Station_Coordinates.append((latitude, longitude))

In [68]:
#add bike station coordinates to miami_bikes
miami_bikes["station_coordinates"] = Bike_Station_Coordinates

In [69]:
miami_bikes.head()

    latitude  longitude  bikes      station_coordinates
0  25.729275 -80.241581      3  (25.729275, -80.241581)
1  25.732522 -80.233244      3  (25.732522, -80.233244)
2  25.751100 -80.202641      4    (25.7511, -80.202641)
3  25.760082 -80.196217      2  (25.760082, -80.196217)
4  25.761884 -80.193101      1  (25.761884, -80.193101)

In [1]:
#Print how the dataframe looks when filtering for 1 coordinate
print(miami_bikes.loc[miami_bikes['station_coordinates'] == (25.729275,-80.241581)])

NameError: name 'miami_bikes' is not defined

In [136]:
#join foursquare_data with miami_bikes
#Iterate through each row from foursquare_data.csv
free_bikes= []

# Add an empty column in the foursquare dataframe
foursquare_data['bikes'] = None

for index, row in foursquare_data.iterrows():
    bike_coordinates = row['Bike_Station_Coordinates']
    latitude, longitude = bike_coordinates.split(',')
    formatted_value = (float(latitude), float(longitude))
    bikes = miami_bikes.loc[miami_bikes['station_coordinates'] == formatted_value]['bikes'].values[0]
    
    # update the df at the current index
    foursquare_data.at[index, 'bikes'] = bikes
#     free_bikes.append(bikes)

foursquare_data.head()

,Name,Locality,Popularity,Price,Rating,Category1,Category2,Category3,Latitude,Longitude,Bike_Station_Coordinates,bikes
0,Bombay Darbar,Miami,0.977682,2.0,9.0,Indian Restaurant,Food and Beverage Service,Dining and Drinking,25.729251,-80.240721,"25.729275,-80.241581",3
1,Jaguar Ceviche Spoon Bar,Miami,0.973000,2.0,8.6,Latin American Restaurant,Seafood Restaurant,Dining and Drinking,25.728360,-80.242803,"25.729275,-80.241581",3
2,Mister O1 Extraordinary Pizza,Miami,0.974360,1.0,8.2,Pizzeria,NaN,NaN,25.728740,-80.242009,"25.729275,-80.241581",3
3,Le Pain Quotidien,Miami,0.952608,1.0,8.6,Café,NaN,NaN,25.727386,-80.242620,"25.729275,-80.241581",3
4,Harry's Pizzeria,Coconut Grove,0.953315,2.0,8.4,New American Restaurant,Pizzeria,NaN,25.727746,-80.242118,"25.729275,-80.241581",3

In [135]:
#QA test: Check to ensure that the number of bikes matches the station that was provided on miami_bikes.csv
station1 = foursquare_data.loc[foursquare_data['Bike_Station_Coordinates']== '25.765327,-80.131324']
station1

,Name,Locality,Popularity,Price,Rating,Category1,Category2,Category3,Latitude,Longitude,Bike_Station_Coordinates,bikes
436,Smith & Wollensky - Miami Beach,Miami Beach,0.985989,3.0,8.7,Seafood Restaurant,Steakhouse,NaN,25.765904,-80.134019,"25.765327,-80.131324",20
437,The Lobster Shack,Miami Beach,0.990337,3.0,8.6,Seafood Restaurant,NaN,NaN,25.768183,-80.132688,"25.765327,-80.131324",20
438,Carbone,Miami Beach,0.989274,2.0,9.0,Italian Restaurant,NaN,NaN,25.769431,-80.133764,"25.765327,-80.131324",20
439,Nikki Beach,Miami Beach,0.998889,3.0,8.6,Night Club,American Restaurant,Japanese Restaurant,25.769090,-80.132260,"25.765327,-80.131324",20
440,Joe's Stone Crab,Miami Beach,0.994782,4.0,9.0,American Restaurant,Seafood Restaurant,NaN,25.768798,-80.135086,"25.765327,-80.131324",20
441,Call Me Gaby,Miami Beach,0.969127,2.0,9.0,Pizzeria,Italian Restaurant,NaN,25.768881,-80.135634,"25.765327,-80.131324",20
442,Santorini by Georgios,Miami Beach,0.982462,2.0,8.4,Greek Restaurant,Middle Eastern Restaurant,Seafood Restaurant,25.769695,-80.132546,"25.765327,-80.131324",20
443,Prime Italian,Miami Beach,0.988936,4.0,8.5,Italian Restaurant,NaN,NaN,25.769675,-80.132838,"25.765327,-80.131324",20
444,Estiatorio Milos by Costas Spiliadis,Miami Beach,0.973186,3.0,9.0,Greek Restaurant,Mediterranean Restaurant,Seafood Restaurant,25.769718,-80.135683,"25.765327,-80.131324",20
445,Joe's Take-Away,Miami Beach,0.982849,2.0,8.5,Seafood Restaurant,NaN,NaN,25.768569,-80.135094,"25.765327,-80.131324",20

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

In [ ]:
#drop null and unwanted columns in combined dataframe

In [ ]:
#Pull up list of columns

In [ ]:
#Look at the dtypes of each column

In [ ]:
#if d-type is inappropriate, change the d-type to appropriate format

In [ ]:
#quick overview of statistics found in dataframe
df.(describe)

In [ ]:
#do a pair.plot to plot relationships between each column

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.